*.assets.resS filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/e3/95/e395034ec3d6ca9b45cd0ba46987bd0782c9bd1fa2e3273045d1ad2cdf68bc5e filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-0a8984a6c37267892854b98b956f490cb60a2d2c.pack filter=lfs diff=lfs merge=lfs -text
